.coin {
    font-family: "DynaPuff", cursive;
  }
  
body{
    background: url('./images/bg3.jpg');
}

  .foot {
    margin-top: 160px;
  }

  .green{
    color: green;
  }

  h1{
    color: slategray;
  }
  